/* reseteo stylos */

html {
    box-sizing: border-box;
    font-size:100%;

}

*,*::before,*::after {
    box-sizing: inherit;

}
body {
    margin: 0;
    padding: 0;
}

/*  */

.nav-link {
    all:unset;
    margin-left: 1rem;
    padding:0.5rem 1rem;
    border-radius: 23px;
    font-weight: 600;
}
.nav-link:hover{
    background-color: rgb(223, 223, 223);
    cursor: pointer;
}

.navbar {
    width: 100%;
    padding-right: 20%;
    padding-left: 20%;
}

.logo_navbar {
    width: 100px;
}

.titulo-navbar {
   font-weight: 800;
   font-size: 1.5rem;
   margin-bottom: 0;
    
}
.login_button{
    all:unset;
    margin: auto;
    
    margin-left: 1rem;
    color: white;
    background-color: black;
    padding:0.5rem 1rem;
    border: none;
    border-radius: 23px;
    text-align: start;
}
.login_button:hover {
    cursor: pointer;
    background-color: rgb(105, 105, 105);
    border: none;
}
.iconos {
    font-weight: 700;
    margin-right: 0.5rem;
    font-size: 1.2rem;
    align-self: end;
}
.categories {
margin-right: 20vw;
margin-left: 20vw;
padding-left: 0;
    display:flex;
gap: 1rem;
    justify-content: center;

}

.category-item {
 
   
    all:unset;
    font-weight: 600;
    display:flex;
    gap: 1rem;
    flex-grow:1;
    justify-content: space-between;
    border: black 1px solid;
    border-radius: 10px;
    padding: 1rem;
}

.category-item:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}
.category-text {
    width: 10ch;
}

